.span{
    color: rgb(211, 32, 32);
}
.heading{
    position: absolute;
    top: 8vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.6rem;
    background-color: rgb(145, 16, 16);
    color: white;
    padding: 13px;
}

.subheading{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 1.6rem;
}

.image-container{
    width: 99vw;
    height: 95vh;
    position: relative;
    text-align: center;
    background-color: black;
}

.p1{
    position: absolute;
    text-align: center;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    top: 32%;
    left: 8%;
    right: 8%;
}

.p2{
    position: absolute;
    text-align: center;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    top: 46%;
    left: 8%;
    right: 8%;
}

.p3{
    position: absolute;
    text-align: center;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    top: 72%;
    left: 8%;
    right: 8%;
}

.love-virus2{
    color: goldenrod
}

.love-virus{
    color: rgb(141, 19, 19)
}

.logo{
    width: 9vw;
    height: 9vh;
    position: absolute;
    text-align: center;
    background-color: black;
    top: 8vh;
    left: 8%
}
